body {
    background-color: #ffeedf;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100vh;
}

button {
    background-color: #1C5A4E;
    width: 240px;
    height: 240px;
    border-radius: 120px;
    color: #FFEEDF;
    text-align: center;
    font-size: 200px;
    font-family: 'Montserrat', sans-serif;
    line-height: 0%;
    padding-bottom: 20px;
}

